<% if @game.started? %>
  <table>
    <% @game.data["words"].each_slice(5) do |row| %>
      <tr>
        <% row.each do |word| %>
          <% if current_player.spymaster? || word["guessed"] == true %>
            <td class="word <%= word["type"] %> <% if word["guessed"] %><%= "guessed-#{word["type"]}" %><% end %>"><%= word["text"] %></td>
          <% else %>
            <td class="word"><%= button_to word["text"], guess_path(word: word["text"]) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <% if @game.game_over? %>
    <%= button_to "Replay", replay_path %>
    <%= button_to "Delete game", game_path, method: :delete %>
  <% else %>
    <footer>
      <% if current_player.spymaster? %>
          <h2><%= @game.first %> goes first</h2>
      <% end %>

      <h2>Players on team</h2>
      <ul>
        <% @game.players_on_team(current_player.color).each do |player| %>
          <li><%= player.name %><% if player.spymaster? %> (<strong>spymaster</strong>)<% end %></li>
        <% end %>
      </ul>
    </footer>
  <% end %>
<% else %>
  <h2>Code for others to join</h2>
  <div><%= @game.code %></div>

  <h2>Players</h2>
  <ul>
    <% @game.players.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>
  <%= form_for :game_session, url: game_sessions_path(@game) do |form| %>
    <%= form.submit "Start Game" %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    var ts = Date.parse("<%= @game.updated_at.as_json %>");

    setInterval(function() {
      $.getJSON("<%= api_game_path(@game) %>", function(game) {
        if(game.deleted) {
          window.location = "/";
        } else {
          if(Date.parse(game.updated_at) > ts) { location.reload(); }
        }
      });
    }, 1000);
  });
</script>

